@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@media (max-width: 1399.98px) {
  body {
    position: absolute;
    height: 100%;
    margin: 0;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1370px;
}

.tab {
  padding-right: 10px;
}

.search {
  width: 60%;
}
.responsive {
  width: 100%;
  height: auto;
}
.item-top {
  height: 243px;
  width: 180px;
}

.poster {
  width: 100%;
  height: 100%;
}

//dropdown components
.dropdown {
  position: relative;
}
.dropdown-content {
  position: absolute;
  width: max-content;
  height: fit-content;
  z-index: 10;
  column-count: 3;
  column-gap: 10px;
  font-size: medium;
  column-width: 100px;
  list-style: none;
  display: none;
}

.dropdown-content li {
  text-decoration: none;
  padding: 5px;
  column-span: 1;
}

.dropdown-content li:hover {
  background-color: rgba(0, 204, 255, 0.086);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
}

/*
.slideshow {
  height: 200px;
  max-width: 1370px;
  margin: auto;
  position: relative;
  width: 70%;
  overflow: hidden;
}
.slideshow-frame {
  width: 100%;
  height: 100%;
}

.img-container {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;

}

.img-container[data-active] {
  opacity: 1;
  animation-delay: 0;
  z-index: 1;
}

img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  float: left;
}
*/

/*slideshow*/

.slideshow {
  list-style-type: none;
}

/** SLIDESHOW **/
.slideshow,
.slideshow:after {
  height: 350px;
  max-width: 1370px;
  margin: auto;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slideshow div span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 30s linear infinite 0s;
}

img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  float: left;
}

.slideshow div:nth-child(1) span {
  background-image: url(https://img.bunnyccdn.co/_r/1366x768/100/56/cc/56cca40be898cbecc462ea9987870942/56cca40be898cbecc462ea9987870942.jpg);
}
.slideshow div:nth-child(2) span {
  background-image: url(./assets/images/slide3.png);
  animation-delay: 6s;
}
.slideshow div:nth-child(3) span {
  background-image: url(https://static.bunnycdn.ru/i/cache/images/5/58/5806a16f2892768b4930c39ebf6ce756.jpg);
  animation-delay: 12s;
}
.slideshow div:nth-child(4) span {
  background-image: url(https://img.bunnyccdn.co/_r/1366x768/100/ff/b6/ffb6981af9cacd38b190c2d878a4405a/ffb6981af9cacd38b190c2d878a4405a.jpg);
  animation-delay: 18s;
}
.slideshow div:nth-child(5) span {
  background-image: url(./assets/images/slide5.jpeg);
  animation-delay: 24s;
}
.slideshow div:nth-child(6) span {
  background-image: url(https://img.bunnyccdn.co/_r/1366x768/100/76/9a/769aa036cdb4a575b43b44ef2ad625bf/769aa036cdb4a575b43b44ef2ad625bf.jpg);
  animation-delay: 30s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.no-cssanimations .cb-slideshow div span {
  opacity: 1;
}
